{% extends 'base.html' %}{% load staticfiles %} {% block content %}

<div class="row text-center">
    <div class="col-12">
        <img src="{% static 'img/new-logo-min.png' %}" alt="Fight Club Logo" class="img-fluid roster-header">
    </div>
</div>
{% for f in fcp %}
<div class="row">
    <div class="col-lg-4">
        <div class="text-center">
            <a class="roster-link hvr-underline-from-center" href="{% url 'single_wrestler' f.id %}">
            <img class="img-fluid roster-header hvr-ripple-out" src="{{ MEDIA_URL }}{{ f.image }}">
            <p>{{ f.name }} </p>
        </a>
        </div>
    </div>
</div>
{% endfor %}


<div class="row text-center">
    <div class="col-12">
        <img src="{% static 'img/schan-black-min.jpeg' %}" alt="Schadenfreude Logo" class="img-fluid roster-header"> {% for s in schadenfreude %}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="text-center">
            <a class="roster-link hvr-underline-from-center" href="{% url 'single_wrestler' s.id %}">
            <img class="img-fluid roster-header" src="{{ MEDIA_URL }}{{ s.image }}">
            <p>{{ s.name }} </p>
        </a>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
