{% extends 'base.html' %}{% load staticfiles %} {% block page_title %}Fight Club: Pro Roster{% endblock %} {% block content %}

<div class="row text-center">
    <div class="col-12">
        <img src="{% static 'img/new-logo-min.png' %}" alt="Fight Club Logo" class="img-fluid roster-header">
    </div>
</div>
<div class="row">
    {% for f in fcp %}
    <div class="col-12 col-md-4">
        <div class="text-center">
            <a class="roster-link hvr-underline-from-center" href="{% url 'single_wrestler' f.id %}">
            <img class="img-fluid" src="{{ MEDIA_URL }}{{ f.image }}">
            <h3>{{ f.name }} </h3>
        </a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row text-center">
    <div class="col-12">
        <img src="{% static 'img/schan-black-min.jpeg' %}" alt="Schadenfreude Logo" class="img-fluid roster-header">
    </div>
</div>
<div class="row">
    {% for s in schadenfreude %}
    <div class="col-12 col-md-4">
        <div class="text-center">
            <a class="roster-link hvr-underline-from-center" href="{% url 'single_wrestler' s.id %}">
            <img class="img-fluid" src="{{ MEDIA_URL }}{{ s.image }}">
            <h3>{{ s.name }} </h3>
        </a>
        </div>
    </div>
    {% endfor %}
</div>{% endblock %}
