{% extends "base.html" %}{% load staticfiles %}{% block page_title %}Training{% endblock %} {% block page_heading %}Wrestling Training{% endblock %} {% block content %}

<div class="training-box text-center">
    <br>
    <div class="row">
        <div class="col-4">
            <i class="far fa-clock fa-5x"></i>
            <p>Tuesdays & Thursdays 6:30pm - 9:30pm</p>
        </div>
        <div class="col-4">
            <i class="fas fa-map-marked-alt fa-5x"></i>
            <p>Unit 19, IMEX Business Park Fisher Street, Dudley Port DY4 8XE</p>
            <a href="https://www.google.com/maps/dir/Current+Location/Fisher+Street,+Dudley+Port+DY4+8XE" target="_blank">
                <p>Get Directions</p>
            </a>
        </div>
        <div class="col-4">
            <i class="fas fa-pound-sign fa-5x"></i>
            <p>£10 per session</p>
        </div>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-12">
        <h2>Who Are We?</h2>
        <p class="training-heading">
            At Fight Club: PRO we boast one of the best pro wrestling training schools in not only the West Midlands but the whole of the UK. We hold sessions twice a week for both men and women looking to break into the industry. In these sessions we will take you
            over everything from getting to grips with bumping and the pure fundamentals as well as covering the more extensive aspects of the sport. Even if you aren’t looking to be the next top star our sessions are also a great way to keep fit and
            build your confidence and all in a healthy atmosphere that will encourage you to push for your best. <br/>Our 3 hour sessions cost £10 individually, commitment and dedication is a key to getting the most out of our sessions.</p>
    </div>
</div>
<div class="for-mobile">
    <div class="row">
        <div class="col-lg-8">
            <h2>What To Expect</h2>
            <p>Fitness is an important part of professional wrestling meaning that conditioning is at the for-front of each of our sessions. In each session, we will cover a wide-range of wrestling fundamentals to ensure that you can feel comfortable in
                the ring. In addition, we also have a range of drills to help you better understand ring psychology, match building and flow.</p><br>
            <p>Our trainers have extensive knowledge and a keen eye for detail and so we will be able to help you along every step of the way. While the focus of our sessions is on the physical aspect of a career in wrestling, we have on hand some of the
                best independent wrestlers working in the UK and so if you ever have a question about any of the other aspects of the sport, like nutrition or character development there is a wealth of knowledge to draw from.</p><br>
            <p> We’ll always be working to keep the room working at the same pace so even if you’re new to our sessions we will endeavour to keep you engaged. Later into our sessions we will break into separate drills focusing on advance trainees in one while
                also helping beginners further understand the basics in the other.</p>
        </div>
        <div class="col-lg-4">
            <br>
            <img src="{% static 'img/training.jpg' %}" alt="Training" class="img-fluid">
            <p class="text-center">Fight Club: PRO trainees, photographed alongside head trainer Travis Banks and FC:P owner Martin Zaki.
                <p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>What You'll Need</h2>
            <p>Be sure to bring water to stay hydrated during the sessions.</p><br>
            <p> Sensible attire for our sessions is a pair of clean trainers, shorts or jogging bottoms and a clean gym vest or t-shirt. We would also advise you invest in a decent pair of knee pads to keep you protected during the sessions.</p>
        </div>
        <div class="col-12">
            <h2>Facilities</h2>
            <p>Our sessions are all about giving you the most authentic experience possible so all our wrestling training takes place in a professional sized ring with plenty of space for you to exercise and keep fit and practice when the ring is in use.
                We’ll never ask you to “bump” outside of the ring, or on judo mats, nor to put yourself in any kind of danger during our sessions.</p>
        </div>
        <div class="col-12">
            <h2>Fight Club Pro: Trainers</h2>
            <p>Our sessions are led by head trainer Travis Banks, who has experience wresting for the top promotions in not only the UK but across the globe. Alongside him we have a number of UK based wrestlers who will offer their expertise and training.
                We also have further staff on hand to help with getting to grips with the basics. Along with them you can expect to get words of advice and help from the other trainees.</p>
        </div>
    </div>
</div>


{% endblock %}
