{% extends 'base.html' %}

{% load bootstrap_tags %} 

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}User Login{% endblock %}


{% block content %}
<p>If you haven't registered an account, you can sign do so here <a href="{% url 'registration' %}">Here!</a></p>

    <form class="form-helper" method="POST">
        {% csrf_token %} {{ login_form | as_bootstrap }}
        <button type="submit" class="btn btn-success">Login</button>
    </form>

<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endblock %}
