{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<h3>Username: {{ user.profile }}</h3>
<p>Your Email: {{ user.email }} </p>

<h3>Your Orders:</h3>
{% for order in orders %}
    <a href="{% url 'single_order' order.id %}">
        <h4>Order ID: {{ order.id }}</h4></a>
        <h4>Date Ordered: {{ order.date }}</h4>
        {% if order.shipped == True %}
        <h4>Order Shipped!</h4>
        {% endif %}
        <br>
{% endfor %}

{{ items }}

{% endblock %}

